<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Formation Symfony | {% block title '' %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    {{ include('includes/_menu.html.twig') }}

    <main class="container">
        <div class="row">
            {% for type, messages_by_type in app.flashes %}
                <div class="alert alert-{{ type }}" role="alert">
                    {% if messages_by_type|length < 2 %}
                        {{ messages_by_type|first }}
                    {% else %}
                        <ul>
                            {% for message in messages_by_type %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-8 box">
                {% block page_content %}
                {% endblock %}
            </div>
            <div class="col-4 box">
                {{ render(controller('App\\Controller\\NewsController::getLastNews', {'count': 3})) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
